<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Books Page</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header class=headerBar>
        <button id="homeButton">Home</button>
    </header>

	<div class="welcome-box">
        <h2>Your Books:</h2>
	</div>
	<div class="book-box">
		<div id="bookContainer">
		    <% for (let i = 0; i < books.length; i++) {
		    var book = books[i]%>
	            <div class="book-info">
	                <p><strong>Title:</strong> <%= book.title%></p>
                    <p><strong>Author:</strong> <%=book.author %></p>
                    <p><strong>Publisher:</strong> <%=book.publisher %></p>
                    <p><strong>Year:</strong> <%=book.year %></p>
                    <p><strong>ISBN:</strong> <%=book.isbn %></p>
                    <p><strong>Category:</strong> <%=book.category %></p>
                    <hr>
                </div>
		    <% } %>
		</div>
	</div>
</body>
</html>
